<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">选择</h2>
                <hr class="light">
                <p class="text-faded">公司周年华彩呈，业务繁忙业绩升。百舸争流看龙头，群英荟萃气势盛。领导远瞩定方策，誓达目标信心恒。群策群力求发展，各司其职计乃成。研发部门多奇思，贴近市场勇争胜。携手各部同甘苦，百计千方埋头耕。集思广议出新品，巧盯对手勇争胜。为研新品多早起，忘食卷成月已升。不怕辛苦多试验，缺点疑难早日更。勤学刻苦为客户，研发助力国运腾。新型技术早应用，客户交口皆夸能。今朝成绩已作古，明日辉煌众志争！</p>
                <a href="#" class="btn btn-default btn-xl">YOU SEE SEE</a>
            </div>
        </div>
    </div>
</section>
