<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>四海玻璃</h1>
            <hr>
            <p>四海玻璃加工厂经过多年的努力现在已发展成一家集各种展示柜玻璃、家具玻璃、夜场KTV玻璃、酒店装饰玻璃、玻璃门、热弯茶几玻璃、钢化玻璃、玻璃喷砂、LOGO工艺各种玻璃漆等深加工以及装饰不锈钢、各种不锈钢制品研发生产，施工为一体专业程度高，综合实力强的企业。在发展过程中秉承以人为本，艺术和智慧相结合的理念，以优秀的技术团队和精湛的技术为基础，不断提高产品质量，在精益求精的同时坚持做到诚实、守信、互惠互利的原则，在同行业中已有良好的口碑，许多高端客户以及项目工程的成功合作已是最好的验证。</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">更&nbsp;&nbsp;多</a>
        </div>
    </div>
</header>
