<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">服&nbsp;&nbsp;务</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>荣&nbsp;&nbsp;誉</h3>
                    <p class="text-muted">荣获2017年河南省玻璃最佳销售奖</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>资&nbsp;&nbsp;源</h3>
                    <p class="text-muted">经验丰富的技术工人</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>责&nbsp;&nbsp;任</h3>
                    <p class="text-muted">努力做好每一件事</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>基础设施</h3>
                    <p class="text-muted">打孔机 | 中空机 | 磨边机 | 航吊</p>
                </div>
            </div>
        </div>
    </div>
</section>
